@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@600&display=swap');

header{
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
body{
    margin-left: 5%;
    margin-right: 5%;
}
body div{
    font-family: 'Indie Flower', cursive;
    font-size: 1.25em;
    color: black;
    text-align: center;
    font-weight: bold;
}
body nav a{
    font-family: 'Indie Flower', cursive;
    color: azure;
    background-color: black;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.1em;
    padding-bottom: 0.9em;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}
body nav{
    text-align: center;
}
.left{
    float: left;
    width: 50%;
    text-align: center;
}
.left img{
    width: 75%;
    border: 0.25em solid black;
}
.right{
    float: right;
    width: 50%;
    text-align: center;
}
.right img{
    width: 75%;
    border: 0.25em solid black;
}
#homeNav a{
    color: black;
}
#flowers{
    padding-top: 5%;
}
#flowers img{
    height: 16em;
}
#flowers p{
    font-size: 1.5em;
    border: 0.25em solid black;
    padding-top: 5%;
    padding-bottom: 5%;
}
#left{
    float: left;
    width: 50%;
}
#left img{
    width: 75%;
    padding-left: 5%;
}
#right{
    float: right;
    width: 50%;
}
#right img{
    height: 21em;
    width: auto;
    padding-right: 5%;
}